<div class="card w-100 my-5">
    <div class="card-body">
        <h1 class="card-title text-center">Cadastro de Usuários</h1>
        <form [formGroup]="userForm" >            
            <div class="row my-4">
                <div class="form-floating w-50">
                    <input type="text" class="form-control " id="nome"  formControlName="nome" placeholder="Digite seu nome">
                    <label for="nome">Nome</label>
                </div>
                <div class="form-floating w-50 ">
                    <input type="text" class="form-control" id="sobrenome" formControlName="sobrenome" placeholder="Digite seu sobrenome">
                    <label for="sobrenome">Sobrenome</label>
                </div>
            </div>
            <div class="row my-4">
                <div class="form-floating w-50">
                    <input type="text" class="form-control" id="idade" formControlName="idade" placeholder="Digite sua idade">
                    <label for="idade">Idade</label>
                </div>
                <div class="form-floating w-50 ">
                    <input type="text" class="form-control" id="profissao" formControlName="profissao" placeholder="Digite sua profissão">
                    <label for="profissao">Profissão</label>
                </div>
            </div>
            <div class="row my-4">
                <div class="form-group col-12 mt-4">
                    <button type="button" class="btn btn-outline-danger float-start">Cancelar</button>
                    <button type="button" class="btn btn-outline-success float-end" (click)="actionButton()" >Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>